# File IO and Pandas

### Kasey Martin, MIS

## Outline
* Python File Operations
    * Opening a file
    * Closing a file
    * Reading from a file
    * Writing to a file
- Term Definitions for Pandas
- What is Pandas
- Pandas Essentials

## Python File Operations
* Up until now, we have been reading and writing to Python's standard input and output
    * print()
    * input()
* Python provides basic functions and methods necessary to manipulate files

## Opening a file
* Before  you  can  read  or  write  a  file,  you  have  to  open  it  using  Python's  built-in <i>open()</i> function
* This function returns a file object, also called a handle, as it is used to read or modify the file accordingly
```python
    file_object = open(file_name [, access_mode]
                       [, buffering])
```
* <i>file_name</i> = a string value that contains the name of the file that you want to access

* <i>access_mode</i> =  determines the mode in which the file has to be opened, i.e., read, write, append, etc.; this is an optional parameter and the default mode is read

Here are some of the available modes in Python:
<img src="img/access_mode.png" width="650">

* <i>buffering</i> =  If  the  buffering  value  is  set  to  0,  no  buffering  takes  place.  If  the buffering value is 1, line buffering is performed while accessing a file. If you specify the buffering value as an integer greater than 1, then buffering action is performed with  the  indicated  buffer  size.  If  negative,  the  buffer  size  is  the  system  default(default behavior)

In [1]:
myfile = open("data/sample.txt", "r") # opening a file in the current directory
#myfile1 = open("C:/Python33/README.txt")  # specifying full path
print ("Name of the file: ", myfile.name) # returns name of the file
print ("Closed or not : ", myfile.closed) # returns true if file is closed, false otherwise
print ("Opening mode : ", myfile.mode) # returns access mode with which file was opened

## Closing a file
* When we are done with operations to the file, we need to properly close the file
* Closing a file makes sure that the connection between the file on disk and the file variable is finished
* It is a good practice to use the <i>close()</i> function to close a file

In [2]:
myfile = open("data/sample.txt", "r") # opening a file in the current directory

print ("Name of the file: ", myfile.name) # returns name of the file
print ("Closed or not : ", myfile.closed) # returns true if file is closed, false otherwise
print ("Opening mode : ", myfile.mode) # returns access mode with which file was opened

myfile.close()

## Reading from a file
* To read a file in Python, we must open the file in read 'r' mode
* There are various methods available to read a file:
    * read([byte_count])
        * parameter byte_count determines number of bytes to be read
        * if no parameter passed, bytes will be read until the end of file
    * readline()
        * reads individual lines of a file
        * this method reads a file till the newline, including the newline character
    * readlines()
        * returns a list of remaining lines of the entire file

## Reading from a file
* When a file is first opened, the current file cursor is pointed at the beginning of the file
* Whenever we use any of the mentioned methods for file reading, the current file cursor (position) will be moved to the last character it read

## Demo file: `sample.txt`
### Contents:
``` txt
This is the first line of this file
This is the second line
This is the third line
This is the fourth line
```

In [3]:
# reading a file line-by-line using a for loop

f = open("data/sample.txt", "r")
for line in f:
    print(line)
f.close()

In [4]:
# read()
f = open("data/sample.txt", "r")
print(f.read())
f.close()

print('----------------------')
# read([byte_count])
f = open("data/sample.txt", "r")
print(f.read(10)) #reads the first 10 characters
print(f.read(6)) #reads the next 6 characters
f.close()

In [5]:
f = open("data/sample.txt", "r")
print(f.readline())
print(f.readline())
print(f.readlines())
f.close()

This overwrites the current content of sample.txt

It is replaced with these texts.It is replaced with these texts.Number 1Number 2Number 3Number 4Number 5Number 6Number 7Number 8Number 9Number 10
[]

## Writing to a file
* We need to open the file in write 'w', append 'a' or exclusive creation 'x' mode
    * Again, be careful with 'w' mode as it will overwrite and erase the contents of a file if it already exists
* Writing a string or sequence of bytes (for binary files) is done using write() method
    * The write operation takes a single parameter, which must be a string
    * If you want to start a new line in the file, you must explicitly provide the newline character

In [6]:
# Print out contents of file 
myfile = open("data/sample.txt","r")
print(myfile.readlines(),end="\n")

['This overwrites the current content of sample.txt\n', 'It is replaced with these texts.It is replaced with these texts.Number 1Number 2Number 3Number 4Number 5Number 6Number 7Number 8Number 9Number 10']

In [7]:
# Let's try overwriting the sample.txt file:
myfile = open("data/sample.txt", "w")

mystring = "This overwrites the current content of sample.txt\n"
myfile.write(mystring)
myfile.write("It is replaced with these texts.") # no new line at the end
myfile.write("It is replaced with these texts.")

myfile.close()

In [8]:
# New contents of sample.txt
myfile = open("data/sample.txt","r")
print(myfile.readlines(),end="\n")

['This overwrites the current content of sample.txt\n', 'It is replaced with these texts.It is replaced with these texts.']

In [9]:
myfile = open("data/sample.txt", "a") #show the content of sample.txt first

# appends number 1-10 in the file
for i in range (10):
    myfile.write("Number " + str(i+1) + "")

myfile.close()

In [10]:
# New contents of sample.txt
myfile = open("data/sample.txt","r")
print(myfile.readlines(),end="\n")

['This overwrites the current content of sample.txt\n', 'It is replaced with these texts.It is replaced with these texts.Number 1Number 2Number 3Number 4Number 5Number 6Number 7Number 8Number 9Number 10']

## What is Pandas
- Data analysis toolkit built on top of numpy
- For handling relational and labeled data naturally
    - tabular data that are diversely type like SQL tables and spreadsheets
    - ordered/unordered time-series data
    - matrices with row and column labels
    - observational/statistical data sets

In [11]:
import numpy as np
import pandas as pd

## Main Data Structures
- Series 
    - one-dimensional numpy array with axis labels
    ```python 
    s = pd.Series(data, index=index)
    ```
- Dataframe
    - two-dimensional array with labeled row and columns
    ```python
    df = pd.Dataframe(data, index=index)
    ```

In [12]:
# with default index
s = pd.Series(np.arange(4))
print(s)
# with custom index
s = pd.Series(np.arange(4), index = ['a','b','c','d'])
print(s)

0    0
1    1
2    2
3    3
dtype: int64
a    0
b    1
c    2
d    3
dtype: int64

## Series
- the classic Python list can also be used for creating a Series

In [13]:
# with python list
s = pd.Series([1,2,3,4,5])
print(s)
# with python dictionary
s = pd.Series({'a':1,'b':2,'c':3,'d':4})
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

## DataFrame
- a DataFrame can be constructed with a dictionary of one dimensional arrays, lists or dictionaries or Series
    - for a Python dictionary:
        - `key` is the column name
        - `value` is a list of values

In [14]:
# dataframe creation with a dictionary
data = {
    'names': ['Student1','Student2','Student3','Student4'], # list of strings
    'ndarray': np.random.random(4), # 1 dimensional numpy array with 4 elements
    'series': pd.Series(np.arange(4)) # pandas Series constructed from the numpy arange method
}
df = pd.DataFrame(data)
df

      names   ndarray  series
0  Student1  0.460010       0
1  Student2  0.037950       1
2  Student3  0.327314       2
3  Student4  0.718741       3

## DataFrame
- A DataFrame can be constructed with a two dimensional numpy array
    - rows and columns will be indexed numerically starting from 0

In [15]:
np_array = np.random.random([3,4]) # numpy array of random decimals
df = pd.DataFrame(np_array)
df

          0         1         2         3
0  0.884797  0.791351  0.339400  0.759825
1  0.253213  0.560116  0.846564  0.283891
2  0.823645  0.634399  0.304490  0.361954

## Dataframe
- We can specify rows and column names by setting `index` for rows and `columns` for columns

In [16]:
my_index = ['a','b','c']
my_columns = ['A','B','C','D']
df = pd.DataFrame(np.random.random([3,4]),index=my_index,columns=my_columns)
df

          A         B         C         D
a  0.229332  0.831406  0.933012  0.918979
b  0.964182  0.205198  0.917309  0.960028
c  0.831976  0.756354  0.680294  0.903727

## Dataframe
- Most conveniently, we can construct a dataframe from files or databases
    - to create a DataFrame from a CSV file, use the `pd.read_csv('path_to_file')` method

In [17]:
df = pd.read_csv('data/student_record.csv')
df.head()

   firstname    lastname   Q1  Q2  Q3  Q4
0  Chantelle       Keske   78  85  98  67
1    Carroll       Allen   90  65  83  90
2  Dominique    Stannard  100  64  57  99
3    Roseann  Turbacuski   99  53  89  87
4     Steven       Coble   83  65  67  57

## Summarizing Data

In [18]:
# get quick statistics for dataframe
df.describe()

               Q1          Q2          Q3          Q4
count  100.000000  100.000000  100.000000  100.000000
mean    75.600000   76.070000   72.530000   75.320000
std     14.710678   13.979245   14.669046   14.734608
min     50.000000   50.000000   50.000000   50.000000
25%     63.500000   64.000000   59.750000   63.000000
50%     76.500000   75.000000   69.500000   76.500000
75%     89.000000   89.000000   86.000000   87.250000
max    100.000000  100.000000  100.000000   99.000000

In [19]:
# get mean per column
df.mean()

Q1    75.60
Q2    76.07
Q3    72.53
Q4    75.32
dtype: float64

In [20]:
# get standard deviation per column
df.std()

Q1    14.710678
Q2    13.979245
Q3    14.669046
Q4    14.734608
dtype: float64

In [21]:
# get variance per column
df.var()

Q1    216.404040
Q2    195.419293
Q3    215.180909
Q4    217.108687
dtype: float64

## Handling Missing Data

## Sample Dataset

In [22]:
data = {
    'temp': pd.Series([18, 17, np.nan, 15, np.nan, np.nan, 10, 15, 20, 22]),
    'precip': pd.Series([10, 17, np.nan, 12, np.nan, 13, 8, np.nan, 20, 22])
}
weather_df = pd.DataFrame(data)
weather_df

   temp  precip
0  18.0    10.0
1  17.0    17.0
2   NaN     NaN
3  15.0    12.0
4   NaN     NaN
5   NaN    13.0
6  10.0     8.0
7  15.0     NaN
8  20.0    20.0
9  22.0    22.0

In [23]:
# we can drop nan rows
print(weather_df)
weather_df.dropna()

   temp  precip
0  18.0    10.0
1  17.0    17.0
2   NaN     NaN
3  15.0    12.0
4   NaN     NaN
5   NaN    13.0
6  10.0     8.0
7  15.0     NaN
8  20.0    20.0
9  22.0    22.0

   temp  precip
0  18.0    10.0
1  17.0    17.0
3  15.0    12.0
6  10.0     8.0
8  20.0    20.0
9  22.0    22.0

In [24]:
# fill with default value
print(weather_df)
weather_df.fillna(-1)

   temp  precip
0  18.0    10.0
1  17.0    17.0
2   NaN     NaN
3  15.0    12.0
4   NaN     NaN
5   NaN    13.0
6  10.0     8.0
7  15.0     NaN
8  20.0    20.0
9  22.0    22.0

   temp  precip
0  18.0    10.0
1  17.0    17.0
2  -1.0    -1.0
3  15.0    12.0
4  -1.0    -1.0
5  -1.0    13.0
6  10.0     8.0
7  15.0    -1.0
8  20.0    20.0
9  22.0    22.0

In [25]:
# fill with last valid value
print(weather_df)
weather_df.fillna(method='ffill')

   temp  precip
0  18.0    10.0
1  17.0    17.0
2   NaN     NaN
3  15.0    12.0
4   NaN     NaN
5   NaN    13.0
6  10.0     8.0
7  15.0     NaN
8  20.0    20.0
9  22.0    22.0

   temp  precip
0  18.0    10.0
1  17.0    17.0
2  17.0    17.0
3  15.0    12.0
4  15.0    12.0
5  15.0    13.0
6  10.0     8.0
7  15.0     8.0
8  20.0    20.0
9  22.0    22.0

In [26]:
# fill with next valid value
print(weather_df)
weather_df.fillna(method='bfill')

   temp  precip
0  18.0    10.0
1  17.0    17.0
2   NaN     NaN
3  15.0    12.0
4   NaN     NaN
5   NaN    13.0
6  10.0     8.0
7  15.0     NaN
8  20.0    20.0
9  22.0    22.0

   temp  precip
0  18.0    10.0
1  17.0    17.0
2  15.0    12.0
3  15.0    12.0
4  10.0    13.0
5  10.0    13.0
6  10.0     8.0
7  15.0    20.0
8  20.0    20.0
9  22.0    22.0

In [27]:
# interpolate nans
print(weather_df)
weather_df.interpolate(method='linear')

   temp  precip
0  18.0    10.0
1  17.0    17.0
2   NaN     NaN
3  15.0    12.0
4   NaN     NaN
5   NaN    13.0
6  10.0     8.0
7  15.0     NaN
8  20.0    20.0
9  22.0    22.0

        temp  precip
0  18.000000    10.0
1  17.000000    17.0
2  16.000000    14.5
3  15.000000    12.0
4  13.333333    12.5
5  11.666667    13.0
6  10.000000     8.0
7  15.000000    14.0
8  20.000000    20.0
9  22.000000    22.0

# FIN