## Classes
Classes are like blueprints for your objects. It specifies what attributes describe your object and what actions your objects can do. Let's use Week 8's exercise as an example. In the exercise, we are given a spreadsheet of student data, wherein we have a student's first name and last name, and finally their grade for four quarters:

In [3]:
import pandas as pd
pd.read_csv('student_record.csv')

    firstname    lastname   Q1   Q2  Q3  Q4
0   Chantelle       Keske   78   85  98  67
1     Carroll       Allen   90   65  83  90
2   Dominique    Stannard  100   64  57  99
3     Roseann  Turbacuski   99   53  89  87
4      Steven       Coble   83   65  67  57
5     Rashida    Gagliano   61   68  50  97
6        Anne    Holbrook   68   91  92  84
7      Marvin   Lancaster   71   59  71  52
8     Michael    Sullivan   59   50  73  63
9       Karen     Bennett   80   91  65  82
10      Erica      Triche   72   72  69  51
11      Wanda     Furlong   53   81  50  81
12    Roberto     Mcguire   69   97  61  63
13    Valeria     Bolanos   94   80  55  56
14      Tomas  Bambacigno   53   92  52  55
15     Philip     Murdock   89   66  86  85
16       Judy       Smith   92   69  73  93
17     Thomas        Zien   82   61  62  65
18      Yetta    Figueroa   71  100  67  85
19       Fred      Howell   62   89  86  71
20    Michael     Bennett   81   92  79  87
21     Milton      Dennig   73   60  58  65
22      Cindy       Brown   85   83  86  76
23      Kathi    Howerton   78   73  58  59
24     Edison     Naumann   86   94  54  65
25   Veronica        Hoff   69   53  62  79
26    Russell     Printup   77   64  58  52
27    Carolyn       Monge   71   83  69  55
28    Michael       Olsen   53   93  67  88
29     Shanna      Walker   55   74  72  52
..        ...         ...  ...  ...  ..  ..
70    Crystal      Mullis   52   81  62  64
71     Kristi   Hennessey   85   77  66  89
72     Pamela    Donoghue   93   83  60  51
73      Anita       Dixon   99   53  54  67
74  Elizabeth     Clayton   86   75  57  71
75    Delores    Reynolds   89   58  52  95
76       Mary     Novotny   91   84  77  66
77     Thomas   Schechter   81   85  79  81
78      Alice       Saver   50   59  66  55
79       Paul   Gilchrist   95   63  75  85
80      Buddy      Wagner   79   59  66  84
81    Darrell     Gambino   57   68  69  93
82     Denise  Brewington   92   58  50  75
83    William        Ross   97   73  77  84
84    Michael      Joiner   75   92  94  89
85    Wilfred       Eaton   87   72  87  99
86   Florence        Ruiz   58   58  69  50
87      Debra       Bueno   80   80  54  81
88       Emma      Cotten   62   62  59  89
89      Annie   President   76   97  55  99
90      Patsy      Spivey   53   90  66  77
91       Mary      Sparks   56   99  63  58
92     Jannet     Hudgins   81   86  77  87
93   Margaret       Bauer   58   81  69  88
94        Joy      Hartry   67  100  86  68
95   Benjamin    Williams   69   90  83  95
96     Thomas        Cook   61   69  73  80
97       Mary      Harris   50   92  58  98
98     Robert       Adler   81   71  92  63
99       Rose    Bautista   50  100  66  71

[100 rows x 6 columns]

From the given data, we can see that each row is a different student. Each student has unique information. We can actually create a class that models a student:

In [7]:
class Student:
    def __init__(self, firstname, lastname, Q1, Q2, Q3, Q4):
        self.firstname = firstname
        self.lastname = lastname
        self.Q1 = Q1
        self.Q2 = Q2
        self.Q3 = Q3
        self.Q4 = Q4

What the above code does is it declares a class `Student`. `__init__` is a method/function of the class that gets called when we create a new object of the class. Usually you do all your attribute initialization here. With this class you can actually create objects that store unique attributes. The `self` that gets passed as another parameter in the method refers to the object of your class. So if you create a new object, `self` refers to that current object. For example, lets create three `Student` objects using the `class` above:

In [14]:
# We omit the 'self' and start with firstname because the object gets passed automatically.
john = Student('John','Doe',99,88,77,66)
jane = Student('Jane','Doe',99,90,88,77)
peter = Student('Peter','Poe',90,95,80,70)

# print out firstname per Student object:
print(john.firstname)
print(jane.firstname)
print(peter.firstname)

John
Jane
Peter

As you can see above, because we are passing information to our objects via the `__init__` method and setting instance variables via the `self` keyword, each new object we create hold unique values. Another good use of `self` is by passing it to other methods in our class, we create what's called instance methods. instance methods can access and manipulate the object's attributes. To show this concept, lets add `create_fullname`, `print_fullname` and `return_fullname` methods to our class:

In [18]:
class Student:
    def __init__(self, firstname, lastname, Q1, Q2, Q3, Q4):
        self.firstname = firstname
        self.lastname = lastname
        self.Q1 = Q1
        self.Q2 = Q2
        self.Q3 = Q3
        self.Q4 = Q4
    
    def create_fullname(self):
        self.fullname = self.firstname + " " + self.lastname
        
    def print_fullname(self):
        print("printing inside class")
        print(self.fullname)
        
    def return_fullname(self):
        return self.fullname
        
john = Student('John','Doe',99,88,77,66)
jane = Student('Jane','Doe',99,90,88,77)
peter = Student('Peter','Poe',90,95,80,70)

# call create_fullname to use self.firstname and self.lastname to create a new instance attribute, self.fullname
john.create_fullname()
jane.create_fullname()
peter.create_fullname()

# print out new instance attribute from inside class
john.print_fullname()
jane.print_fullname()
peter.print_fullname()

# return value of fullname
john_fname = john.return_fullname()
jane_fname = jane.return_fullname()
peter_fname = peter.return_fullname()

#print out returned values
print()
print(john_fname)
print(jane_fname)
print(peter_fname)

printing inside class
John Doe
printing inside class
Jane Doe
printing inside class
Peter Poe

John Doe
Jane Doe
Peter Poe

To summarise what I have shown above:

- Classes are blueprints for objects
- attributes are unique data
- methods are actions 
- objects are instances of a class (think physical manifestation of a blueprint)
- objects have can retain unique attributes because of `self`
- by passing `self` to a method inside a class as the first argument, you are passing the object, meaning you have access to all its attributes. 
- by passing the object, you have access to its attributes, you can manipulate the values and set new instance attributes
- by using `self`, you can use instance attributes that were set in different methods. Examples of it are:
    - we use `self.firstname` and `self.lastname` (initialized in `__init__` method) in our `create_fullname` method to create a new instance variable called `self.fullname`
    - `self.fullname` that was created in `create_fullname` was accessed inside the `print_fullname` and `return_fullname` methods